*{
    margin: 0;
}

header{
    height: 180px;
    background-color: #F2EEE6;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    flex: 1;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}

.navbar a:hover{
    background-color: #ccc;
    color: #000;
}

.secao1{
    height: 200px;
    background-color: #F2EEE6;
    margin: 0;  
}