@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Lora:wght@400;500;600;700&display=swap');

.navbar a{
    color: #0B3D5C;
    padding: 16px 20px;
    text-decoration: none;
    font-weight: bold; 
    letter-spacing: 2px; 
    font-family: Lora, serif;
    font-size: 18px;
    letter-spacing: 5px;
    
}